@import "./../../../scss/fonts.scss";
@import "./../../../scss/colors.scss";
@import "./../../../scss/mixins.scss";

.container {
  z-index: 1;
  position: fixed;
  right: 80px;
  top: 20px;
  width: 80px;
  height: 30px;
  background: #bebebe;
  border-radius: 5.74074px;
  color: $clr-white;
  font-family: $montserrat-font-family;
  font-weight: $font-weight-500;
  font-size: 14px;

  .btn {
    z-index: 3;
    width: 40px;
    height: 30px;
    height: 30px;
    border-radius: 5.74px;
  }

  .btn_active {
    position: relative;
    z-index: 3;
    width: 40px;
    height: 30px;
    border-radius: 5.74px;
    background-color: $clr-blue-background;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 40px;
      height: 30px;
      background: linear-gradient(
        112.55deg,
        rgba(255, 255, 255, 0.3) -0.64%,
        rgba(108, 138, 167, 0.06) 143.59%
      );
      border-radius: 5.74px;
    }
  }
}
