@import "./../../../scss/fonts.scss";
@import "./../../../scss/colors.scss";
@import "./../../../scss/mixins.scss";

.burger {
  display: flex;
  align-items: center;
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1;

  span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $clr-blue-button;
    &::after,
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $clr-blue-button;
    }
  }
  span::after {
    top: -8px;
  }
  span::before {
    top: 8px;
  }
}
