@import "../../../scss/colors.scss";
@import "../../../scss/fonts.scss";

.input {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: $montserrat-font-family;
  &:not(:last-child) {
    margin-bottom: 40px;
  }

  .required {
    position: absolute;
    width: 70%;
    bottom: 40px;
    font-weight: $font-weight-400;
    font-size: 13px;
    color: $clr-white;
    opacity: 50%;
  }

  .input {
    all: unset;
    position: relative;
    z-index: 3;
    display: block;
    width: 70%;
    min-width: 50px;
    padding: 10px 16px;
    font-size: 14px;
    background: $clr-background-input;
    box-shadow: 0px 4px 9px rgba(48, 79, 159, 0.25),
      inset 2px 5px 8px rgba(0, 0, 0, 0.25);
    border: 1px solid transparent;
    border-radius: 10px;
    color: black;

    &__error {
      border: 1px solid $clr-input-error-border;
    }
    &::placeholder {
      font-weight: $font-weight-500;
      font-size: 0.9em;
    }
  }

  .error {
    font-weight: $font-weight-400;
    font-size: 14px;
    color: $clr-error;
    display: block;
    width: 70%;
    position: absolute;
    top: 40px;
  }
}
