@import "../../../scss/colors.scss";
@import "../../../scss/fonts.scss";
@import "../../../scss/mixins.scss";

.input_register {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: $montserrat-font-family;
  &:not(:last-child) {
    margin-bottom: 40px;
  }

  .required {
    position: absolute;
    width: 70%;
    bottom: 40px;
    font-weight: $font-weight-400;
    font-size: 13px;
    color: $clr-white;
    opacity: 50%;
  }

  .input {
    @include input;
    width: 70%;
    min-width: 50px;
    z-index: 3;

    &__error {
      border: 1px solid $clr-input-error-border;
    }
  }

  .error {
    font-weight: $font-weight-400;
    font-size: 14px;
    color: $clr-error;
    display: block;
    width: 70%;
    position: absolute;
    top: 40px;
  }
}
