@import "./../../../scss/fonts.scss";
@import "./../../../scss/colors.scss";
@import "./../../../scss/mixins.scss";

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin: 0 8px;
  font-size: 16px;
  font-weight: bold;
  color: #2177c6;
  background-color: #f5f5f5;
  // border: 1px solid #828282;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &.active {
    cursor: default;
    background-color: #2177c6;
    color: #ffffff;
  }

  &.disabled {
    cursor: default;
    color: #b3b3b3;
    background-color: #f5f5f5;
  }

  &.dots {
    font-weight: normal;
    cursor: default;
    color: #b3b3b3;
  }
  &:not(.disabled):not(.dots):not(.active):hover {
    scale: 1.1;
  }
}
