@import "./../../../scss/fonts.scss";
@import "./../../../scss/colors.scss";
@import "./../../../scss/mixins.scss";

.content {
  position: relative;
  z-index: 50;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;

  font-size: 16px;

  h2 {
    font-weight: $font-weight-700;
  }

  .input {
    @include input;
    width: 50%;
    height: 15px;
  }

  .button {
    @include button;
    @include button--blue;
  }

  .x {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
  }
}

.container {
  @include window-center;

  @include window-normal-background;
  z-index: 48;
  width: 450px;
  height: 350px;

  &::after {
    @include window-add-effect;
    z-index: 49;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}
