@import "./../../../scss/fonts.scss";
@import "./../../../scss/colors.scss";
@import "./../../../scss/mixins.scss";

.container {
  @include window-center;
  @include window-normal-background;

  height: 400px;
  width: 400px;

  &::after {
    @include window-add-effect;
  }
}

.form {
  z-index: 3;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;

  &__header {
    width: 100%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 23px;
    // margin-bottom: 10%;
    font-family: $montserrat-font-family;
    font-weight: $font-weight-700;
  }

  &__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
  }

  input {
    all: unset;
    width: 70%;
    min-width: 50px;
    padding: 10px 16px;
    font-size: 13px;
    background: #ececec;
    box-shadow: 0px 4px 9px rgba(48, 79, 159, 0.25),
      inset 2px 5px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: black;

    &::placeholder {
      font-weight: $font-weight-500;
      font-size: 0.9em;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 82%;
    max-width: 280px;
    margin-bottom: 10%;
    align-items: center;
  }

  button {
    @include button;
    @include button--blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    height: 37px;
    font-family: $montserrat-font-family;
    font-size: 14px;
    font-weight: $font-weight-700;
  }

  .button__back {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    left: 5%;
    bottom: 5%;
  }
}
