@import "./../../../scss/fonts.scss";
@import "./../../../scss/colors.scss";
@import "./../../../scss/mixins.scss";

.container {
  @include window-center;
  @include window-normal-background;

  min-height: 320px;
  max-height: 700px;

  height: 100vh;
  min-width: 320px;
  max-width: 1200px;
  width: 75vw;

  &::after {
    @include window-add-effect;
  }
}

.statistics_window {
  z-index: 3;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #fff;

  button {
    @include button;
    @include button--blue;
  }

  h1 {
    display: block;
    font-size: 22px;
    margin-top: 50px;
    font-family: $montserrat-font-family;
    font-weight: $font-weight-700;
    margin-bottom: 20px;
    text-align: center;
  }

  button {
    @include button;
    @include button--blue;
  }

  input,
  select {
    height: 80%;
  }

  &__control {
    display: flex;
    justify-content: center;

    .block_control {
      width: 60%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
  }
  .button_in_block {
    // margin-bottom: 20px;
  }
  .button_admin {
    align-self: flex-start;
    margin-left: 0;
  }

  &__top {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
}

// Define the styles for the container element
.content {
  display: flex;
  justify-content: space-evenly;
  // align-items: center;
  width: 100%;
  &__charts {
    background-color: white;
    width: 50%;
    height: 500px;
    overflow: scroll;
    overflow-x: unset;
    margin-bottom: 100px;
    canvas {
      width: 100% !important;
      height: 60% !important;
    }
  }
  &__text {
    padding: 10px 10px;
    width: 40%;
    height: 85%;
    background-color: rgba(255, 255, 255, 50%);
    color: black;
    border-radius: 20px;
    p {
      margin-bottom: 5px;
    }
  }
}
