$clr-blue-button: #2177c6;
$clr-red-button: #c0141e;
$clr-blue-background: #3c94e6;
$clr-white: #fff;
$clr-error: #bb0000;
$clr-background-body: #f5f5f5;
$clr-background-input: #ececec;
$clr-input-error-border: #ff0000;

$clr-red-background: #e81010;
